* {
    box-sizing:border-box;  
    margin:0;
    padding:0;
  }
    
  html {
    --item-width:12rem;
    --item-height: calc( var(--item-width) * 0.8 );
  }
    
  body {
    height:200dvh;
    overflow-x:clip;
  }
  
  main {
    position:fixed;
    top:0;
    left:0;
    transform-style: preserve-3d;
    perspective:800px;
    
    width:100dvw;
    height:100dvh;
    display: flex;
  flex-direction: column;
    gap:1rem;
    align-items: center;
    justify-content: center;
  }
  
  ul {
    display:grid;
    list-style:none;
    background:sandybrown;
    transform-style: preserve-3d;
    box-shadow:1px 1px 5px #C4AB73;
  
  }
  
  .ScrollAnimation {
    animation:--grow-progress linear forwards, --moveup linear forwards,--shrink-progress ease-in-out forwards;
    animation-timeline: scroll();
    animation-range-start: 0dvh, 20dvh, 80dvh;
     animation-range-end: 20dvh, 60dvh, 100dvh;
    background-color:gold;
      animation: rotate 5s infinite forwards;
   
  }
  
  
  
  li{
    grid-area:1/1;
    width:var(--item-width);
    height:var(--item-height);
    background-color: #E5CD98;
    transform-style: preserve-3d;
  
    --item-angle: calc( 360deg / sibling-count() * sibling-index() );
  /*   --item-angle-half: calc( tan( var(--item-angle) * 0.5 ) );  */
  
    transform:
      /*       translateZ( calc( -2 * var(--item-width) ) ) */
      rotateY( var(--item-angle) )
      translateZ( calc( 2 * var(--item-width) ) )
     
  }
  
  li + li{
        background-color:#DFC488;
  }
  @keyframes --grow-progress {
    from {
      transform: translateZ(-50em) translateY(0);
    }
    to {
     transform: translateZ(0em) translateY(25vh);
    }
  }
  
  li + li + li {
  background-color:D6BC82;
  }
  
  @keyframes --shrink-progress {
    from {
      transform: translateZ(0em) translateY(-30vh);
    }
    to {
     transform: translateZ(-50em) translateY(0);
    }
  }
  
  @keyframes --moveup{
    from{
      transform: translateY(25vh);
    }
    to{
      transform: translateY(-30vh);
    }
  }
    
  @keyframes --background {
    from {
      transform: translateZ(-50em);
    }
    to {
     transform: translateZ(-50em);
    }
  }
  
  @keyframes rotate {
    from{
      transform: rotateY(0deg);
    }
    to{
      transform: rotateY(360deg);
    }
  }